<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">Menu</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

          <li>
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
            </a>
          </li>
          <li>
            <a routerLink="/AdminDashBoard/ClassGym" class="nav-link px-0 align-middle">
              <!-- Gym And Classes -->
              <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Gym And Classes</span>
            </a>
          </li>

          <li>
            <a routerLink="/AdminDashBoard/GetCategories" class="nav-link px-0 align-middle">
              <!-- ALL Categories -->
              <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">ALL Categories</span>
            </a>
          </li>

          <li>
            <a routerLink="/AdminDashBoard/GetProducts" class="nav-link px-0 align-middle">
              <!-- AllProducts -->
              <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">All Products</span>
            </a>
          </li>
          <li>
            <a routerLink="/AdminDashBoard/GetOrders" class="nav-link px-0 align-middle">
              <!-- AllProducts -->
              <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">All Orders</span>
            </a>
          </li>

          <li>
            <a routerLink="/AdminDashBoard/Contact" class="nav-link px-0 align-middle">
              <!--ALL Contact-->
              <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">ALL Contact</span>
            </a>
          </li>

          <!--<li>
            <a routerLink="/AdminDashBoard/ReplyContact" class="nav-link px-0 align-middle">-->
              <!--Reply Contact-->
              <!--<i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Reply Contact</span>
            </a>
          </li>-->

          <li>
            <a routerLink="/AdminDashBoard/mealManagement" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Meal Management</span>
            </a>
          </li>

          <li>
            <a routerLink="/AdminDashBoard/subMealManagement" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">SubMeal Management</span>
            </a>
          </li>

          <li>
            <a routerLink="/AdminDashBoard/testiManagement" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Testimonial Managrmrnt</span>
            </a>
          </li>



          <li>
            <a routerLink="/Login" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Logout</span>
            </a>
          </li>
        </ul>
        <hr>

      </div>
    </div>
    <div class="col py-3">

      <router-outlet></router-outlet>

    </div>
  </div>
</div>
