<!--<app-header-section></app-header-section>-->


<section class="featured-slider-one" style="background: grey; background-image: url(assets/images/f-slider-one-1.jpg);">
  <div class="container">
    <div id="featuredSlider" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="f-slider-layer">
            <div class="f-slider-one-data">
              <span>high intensity</span>
              <h1>workout</h1>
              <p>for weight loss</p>
              <h6><a href="callto:12345678999">12345678999</a></h6>
              <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="theme-btn">start consulting</a>
            </div>
            <img src="assets/images/slide-image-2.png" alt="img" class="gym-girl">
            <svg width="261" height="235" viewBox="0 0 261 235" xmlns="http://www.w3.org/2000/svg">
              <path d="M261 0L190.483 144.088H128.135L162.104 102.062L188.333 45.885H89.8666L70.0873 87.4818H117.815L0 235L49.0181 125.219H0L61.9176 0H261Z" />
            </svg>
          </div>
        </div>
        <!-- Slide 2 -->
        <div class="carousel-item">
          <div class="f-slider-layer">
            <div class="f-slider-one-data">
              <span>high intensity</span>
              <h1>workout</h1>
              <p>for weight loss</p>
              <h6><a href="callto:12345678999">077777777</a></h6>
              <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="theme-btn">start consulting</a>
            </div>
            <img src="assets/images/slide-image-2.png" alt="img" class="gym-girl">
            <svg width="261" height="235" viewBox="0 0 261 235" xmlns="http://www.w3.org/2000/svg">
              <path d="M261 0L190.483 144.088H128.135L162.104 102.062L188.333 45.885H89.8666L70.0873 87.4818H117.815L0 235L49.0181 125.219H0L61.9176 0H261Z" />
            </svg>
          </div>
        </div>
        <!-- Slide 3 -->
        <div class="carousel-item">
          <div class="f-slider-layer">
            <div class="f-slider-one-data">
              <span>Wellnss & relaxing</span>
              <h1>Yoga</h1>
              <p>for flourishing and good health</p>
              <h6><a href="callto:12345678999">0777777777</a></h6>
              <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="theme-btn">start consulting</a>
            </div>
            <img src="assets/images/slide-image-2.png" alt="img" class="gym-girl">
            <svg width="261" height="235" viewBox="0 0 261 235" xmlns="http://www.w3.org/2000/svg">
              <path d="M261 0L190.483 144.088H128.135L162.104 102.062L188.333 45.885H89.8666L70.0873 87.4818H117.815L0 235L49.0181 125.219H0L61.9176 0H261Z" />
            </svg>
          </div>
        </div>
      </div>
      <!-- Carousel Controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#featuredSlider" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#featuredSlider" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>


<section class="gap service-style-one">
  <div class="heading">
    <figure>
      <img src="assets/images/heading-icon.png" alt="Heading Icon">
    </figure>
    <span>Build your body strong</span>
    <h2>Workout Classes</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="service-data">
          <i class="flaticon-gym-equipment"></i>
          <h3><a routerLink="/Class">exercise cycle</a></h3>
          <p>Join our dynamic exercise cycle class designed to boost your endurance and strength. Engage in a full-body workout that combines cardio, core, and strength training, tailored to all fitness levels.</p>
          <a class="icon" routerLink="/Class">
            <i class="fa-solid fa-angles-right"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-data">
          <i class="flaticon-gym"></i>
          <h3><a routerLink="/Class">Expert Trainers</a></h3>
          <p>Learn from the best with our Expert Trainers! Our certified professionals bring years of experience and specialized knowledge to help you achieve your fitness goals.</p>
          <a class="icon" routerLink="/Class">
            <i class="fa-solid fa-angles-right"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-data mb-0">
          <i class="flaticon-work-from-home"></i>
          <h3><a routerLink="/Class">Workout Schedule</a></h3>
          <p>Stay on track with our flexible Workout Schedule, designed to fit your lifestyle. Choose from a variety of classes.</p>
          <a class="icon" routerLink="/Class">
            <i class="fa-solid fa-angles-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Service Style Two End -->
<!-- About Style One Start -->
<section class="gap no-top about-style-one">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-data-left reveal1 it-reveal-animation">
          <figure>
            <img src="https://images.pexels.com/photos/260352/pexels-photo-260352.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Fitzone Gym Image 1">
          </figure>
          <figure>
            <img src="https://img.freepik.com/premium-photo/modern-fitness-gym-interior_1057389-33068.jpg" alt="Fitzone Gym Image 2">
          </figure>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-data-right">
          <span>Welcome to Fitzone Fitness</span>
          <h2>Your Premier Gym & Fitness Center</h2>
          <div class="about-info">
            <p>
              At Fitzone, we believe in creating a fitness community that motivates and empowers people to achieve their fitness goals. Whether you're looking for personalized workout classes, comprehensive gym subscriptions, or even shopping for fitness gear through our exclusive marketplace, Fitzone is your ultimate destination for all things fitness. Join us and make every day a step toward a healthier, stronger you.
            </p>
            <figure>
              <img class="light-icon" src="assets/images/signature.png" alt="Signature">
              <img class="dark-icon" src="assets/images/signature-1.png" alt="Signature">
            </figure>
            <h3>FITZONE</h3>
            <h4>Director and CEO of Fitzone</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About Style One End -->
<!-- Counter Style One Start -->
<!--<section class="gap no-top counter-style-one">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="counter-data">
          <div class="count">
            <span class="counter">10</span>+
          </div>
          <h6>Years Experience</h6>
          <h4>Lorem ipsum dolor sit amet, consectne auctor aliquet.</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="counter-data">
          <div class="count">
            <span class="counter">90</span>+
          </div>
          <h6>Experts Trainers</h6>
          <h4>Lorem ipsum dolor sit amet, consectne auctor aliquet.</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="counter-data">
          <div class="count">
            <span class="counter">65</span>+
          </div>
          <h6>Workout Classes</h6>
          <h4>Lorem ipsum dolor sit amet, consectne auctor aliquet.</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="counter-data">
          <div class="count">
            <span class="counter">14</span>k
          </div>
          <h6>Satisfied Clients</h6>
          <h4>Lorem ipsum dolor sit amet, consectne auctor aliquet.</h4>
        </div>
      </div>
    </div>
  </div>
</section>-->
<!-- Counter Style One End -->
<!-- Project Style One Start -->
<!--<section class="gap project-style-one pb-0 light-bg-color">
  <div class="heading">
    <figure>
      <img src="assets/images/heading-icon.png" alt="Heading Icon">
    </figure>
    <span>Build your body strong</span>
    <h2>Workout Classes</h2>
  </div>
  <div class="row g-0 reveal1 it-reveal-animation">
    <div class="col-lg-6">
      <div class="project-post">
        <figure>
          <img src="assets/images/project-img-1.jpg" alt="project-img-1">
        </figure>
        <div class="project-data">
          <h4>Sunday: 8pm - 11pm</h4>
          <h3><a href="class-details.html">Fitness Ball</a></h3>
          <a class="project-icon" href="#">read more</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="project-post">
        <figure>
          <img src="assets/images/project-img-2.jpg" alt="project-img-1">
        </figure>
        <div class="project-data">
          <h4>Monday: 8pm - 11pm</h4>
          <h3><a href="class-details.html">Bench Press</a></h3>
          <a class="project-icon" href="#">read more</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="project-post">
        <figure>
          <img src="assets/images/project-img-3.jpg" alt="project-img-1">
        </figure>
        <div class="project-data">
          <h4>Tuesday: 8pm - 11pm</h4>
          <h3><a href="class-details.html">Handstand Negatives</a></h3>
          <a class="project-icon" href="#">read more</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="project-post">
        <figure>
          <img src="assets/images/project-img-4.jpg" alt="project-img-1">
        </figure>
        <div class="project-data">
          <h4>Wednesday: 8pm - 11pm</h4>
          <h3><a href="class-details.html">Weight Lifting</a></h3>
          <a class="project-icon" href="#">read more</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="project-post">
        <figure>
          <img src="assets/images/project-img-5.jpg" alt="project-img-1">
        </figure>
        <div class="project-data">
          <h4>Thursday: 8pm - 11pm</h4>
          <h3><a href="class-details.html">Cross Training</a></h3>
          <a class="project-icon" href="#">read more</a>
        </div>
      </div>
    </div>
  </div>
</section>-->
<!-- Project Style One End -->
<!-- Team Style One Start -->
<section class="gap team-style-one">
  <div class="heading-style-2">
    <div class="container">
      <div class="row align-items-center reveal1 it-reveal-animation">
        <div class="col-lg-6 col-md-8">
          <div class="data">
            <span>Meet Experts Trainers</span>
            <h2>Top Product Selling</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--card-->

<section class="gap shop-style-one addition">
  <div class="container">
    <div class="row p-slider align-items-center justify-content-between grid">
      <div class="col-lg-3" *ngFor="let item of productArray">
        <div class="product">
          <div class="main-data">
            <div class="btn-hover">
              <figure>
                <!--<img src="https://localhost:44340/api/MohammadController1/getImages/{{item.image}}" alt="Product Image 1">-->
                <img src="{{item.image}}" alt="Product Image 1">

              </figure>
            </div>
            <div class="data">
              <div class="ratings">
                <span>Top</span>
              </div>
              <h3><a routerLink="/Products">Product Name : {{item.productName}}</a></h3>
              <div class="price-range">
                <span>Price : {{item.price}} JOD</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--card-->
<!-- Team Style One End -->
<!-- Core Features Start -->
<section class="core-features">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 reveal1 it-reveal-animation">
        <div class="space">
          <div class="heading-style-2">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="data">
                    <span>Features and Benefits</span>
                    <h2>What Makes Us Differnt</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <span class="num">01.</span> Fitness Platform
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil cum soluta nobis est elige impedit.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <span class="num">02.</span> Motivation and Accountability
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil cum soluta nobis est elige impedit.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <span class="num">03.</span> Clean and Hygienic
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil cum soluta nobis est elige impedit.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  <span class="num">04.</span> Training Ability
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil cum soluta nobis est elige impedit.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="shape">
          <div class="video">
            <figure>
              <img src="assets/images/core-feature.jpg" alt="Core Feature Img">
            </figure>
            <!--<a class="video-play-btn" data-fancybox="" href="https://www.youtube.com/watch?v=uemObN8_dcw">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35" height="56" viewBox="0 0 35 56"> <defs> <clipPath id="clip-video_arrow"> <rect width="35" height="56" /> </clipPath> </defs> <g id="video_arrow" data-name="video arrow" clip-path="url(#clip-video_arrow)"> <path id="Shape_1" data-name="Shape 1" d="M1362,5000.8,1327,4972V5027Z" transform="translate(-1326.998 -4971.996)" fill="rgba(0,0,0,0)" /> <path id="Shape_1_-_Outline" data-name="Shape 1 - Outline" d="M1333,5015.017l19.29-14.437L1333,4984.7v30.313M1327,5027V4972l35,28.807Z" transform="translate(-1326.998 -4971.996)" /> </g> </svg>
            </a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Core Features End -->
<!-- Client Style One Start -->
<div class="gap client-style-one">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="client-slider owl-carousel">
          <img class="w-auto m-auto" src="assets/images/client-1.png" alt="client-1">
          <img class="w-auto m-auto" src="assets/images/client-2.png" alt="client-2">
          <img class="w-auto m-auto" src="assets/images/client-3.png" alt="client-3">
          <img class="w-auto m-auto" src="assets/images/client-4.png" alt="client-4">
          <img class="w-auto m-auto" src="assets/images/client-5.png" alt="client-5">
          <img class="w-auto m-auto" src="assets/images/client-1.png" alt="client-1">
          <img class="w-auto m-auto" src="assets/images/client-2.png" alt="client-2">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Client Style One End -->
<!-- Renovation Start -->
<section class="gap renovation">
  <video poster="../../../../sb.vox1.net/video/poligonBG.jpg" playsinline autoplay muted loop>
    <source src="https://sb.vox1.net/video/poligons.mp4" type="video/mp4">
  </video>
  <div class="jumbotron">
    <h1>FitZone</h1>
  </div>
  <div class="reno-data">
    <h2>Be Strong, Be Fit and Be Healthy With Us</h2>
    <p>Next 6 week session begins <span>Monday April 29th.</span></p>
    <a class="theme-btn" routerLink="/Login">Join Us Group Training</a>
  </div>
</section>
<!-- Renovation End -->
<!-- Client Review Style One Start -->
<!-- component.html -->
<section class="gap client-review-style-one">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="head-review">
          <span>Testimonials</span>
          <h3>Client’s Reviews</h3>
        </div>
        <!-- Bootstrap Carousel Slider -->
        <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let item of testimonialArray; let i = index" [ngClass]="{'active': i === 0}">
              <div class="slider-data">
                <p>{{item.text}}</p>
                <div class="bio d-flex-all justify-content-start w-100">
                  <div class="icon d-flex-all">
                    <!-- SVG Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                      <g id="Inverted_" clip-path="url(#clip-Inverted)">
                        <path d="M.032,24.036V14.478l-.032,0V8.991C.4.4,9.086,0,9.086,0V5.961c-3.535,0-3.555,3.03-3.555,3.03v4.045h5.5v11ZM0,8.991Z" transform="translate(14 0.964)" />
                        <path d="M.032,24.036V14.478l-.032,0V8.991C.4.4,9.086,0,9.086,0V5.961c-3.535,0-3.555,3.03-3.555,3.03v4.045h5.5v11ZM0,8.991Z" transform="translate(0.969 0.964)" />
                      </g>
                    </svg>
                  </div>
                  <div class="details w-100">
                    <h3>{{item.userName}}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Carousel Controls -->
          <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-lg-6">
        <figure class="reveal1 it-reveal-animation">
          <img src="assets/images/clients-images.png" alt="Client Images">
        </figure>
      </div>
    </div>
  </div>
</section>


<!-- Client Review Style One End -->
<!-- Blog Style One Start -->
<!--<section class="gap no-top blog-style-one">
  <div class="heading">
    <figure>
      <img src="assets/images/heading-icon.png" alt="heading-icon">
    </figure>
    <span>Let us Help Guide</span>
    <h2>Recent Articles</h2>
  </div>
  <div class="container reveal1 it-reveal-animation">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post">
          <div class="blog-image">
            <figure>
              <img src="assets/images/blog-img-1.jpg" alt="blog-img-1">
            </figure>
            <a href="blog-detail.html">
              <i class="fa-solid fa-angles-right"></i>
            </a>
          </div>
          <div class="blog-data">
            <span class="blog-date">January 9, 2025</span>
            <h2>
              <a href="blog-detail.html">10 tips how to prepare meals fast and easy weight loss</a>
            </h2>
            <div class="blog-author d-flex-all justify-content-start">
              <div class="author-img">
                <figure>
                  <img src="assets/images/blog-author-img.jpg" alt="Blog Author Img">
                </figure>
              </div>
              <div class="details">
                <h3> <span>by</span> Jakki James</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post">
          <div class="blog-image">
            <figure>
              <img src="assets/images/blog-img-2.jpg" alt="blog-img-2">
            </figure>
            <a href="blog-detail.html">
              <i class="fa-solid fa-angles-right"></i>
            </a>
          </div>
          <div class="blog-data">
            <span class="blog-date">January 9, 2025</span>
            <h2>
              <a href="blog-detail.html">Interval training, and focusing on compound exercises.</a>
            </h2>
            <div class="blog-author d-flex-all justify-content-start">
              <div class="author-img">
                <figure>
                  <img src="assets/images/blog-author-img.jpg" alt="Blog Author Img">
                </figure>
              </div>
              <div class="details">
                <h3> <span>by</span> Jakki James</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post">
          <div class="blog-image">
            <figure>
              <img src="assets/images/blog-img-3.jpg" alt="blog-img-3">
            </figure>
            <a href="blog-detail.html">
              <i class="fa-solid fa-angles-right"></i>
            </a>
          </div>
          <div class="blog-data">
            <span class="blog-date">January 9, 2025</span>
            <h2>
              <a href="blog-detail.html">How to Keep Your Body Healthy Over the Festive Season</a>
            </h2>
            <div class="blog-author d-flex-all justify-content-start">
              <div class="author-img">
                <figure>
                  <img src="assets/images/blog-author-img.jpg" alt="Blog Author Img 1">
                </figure>
              </div>
              <div class="details">
                <h3> <span>by</span> Jakki James</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="common-btn">
      <a href="our-blog-1.html" class="theme-btn">View All Posts</a>
    </div>
  </div>
</section>-->


<div class="modal" *ngIf="showTestimonialBox">
  <div class="modal-content">
    <span class="close-button" (click)="closeModal()">&times;</span>
    <h2>Share Your Feedback</h2>
    <textarea [(ngModel)]="testimonialText" placeholder="Write your testimonial here..." rows="5"></textarea>
    <button (click)="submitTestimonial()" class="submit-button">Submit</button>
  </div>
</div>
