<!-- Banner Style One Start -->
<section class="banner-style-one">
  <div class="parallax" style="background-image: url(assets/images/pattren-3.png);"></div>
  <div class="container">
    <div class="row">
      <div class="banner-details">
        <h2>Gym Details</h2>
      </div>
    </div>
  </div>
  <div class="breadcrums">
    <div class="container">
      <div class="row">
        <ul>
          <li>
            <a routerLink="/home">
              <i class="fa-solid fa-house"></i>
              <p>Home</p>
            </a>
          </li>
          <li class="current">
            <p>Gym</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Banner Style One End -->

<!--<section class="gap what-we-build">
  <div class="heading-style-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="data">
            <span>Gyms</span>
            <a routerLink="/AdminDashBoard/ShowGym">Gym Operation</a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="data">
            <span>Classes</span>
            <a routerLink="/AdminDashBoard/ShowGym">Gym Operation</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->


<section class="gap project-style-one addition">
  <div class="container">
    <div class="row project-slider">
      <div class="col-lg-6">
        <div class="project-post reveal1 it-reveal-animation">
          <figure>
            <img src="assets/images/service-nav-img-5H.jpg" alt="project-img-1">
          </figure>
          <div class="project-data">
            <h3>
              <a routerLink="/AdminDashBoard/ShowGym">Gym Operation</a>
            </h3>
            <a routerLink="/AdminDashBoard/ShowGym">Gym Operation</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="project-post reveal1 it-reveal-animation">
          <figure>
            <img src="assets/images/building-2H.png" alt="project-img-1">
          </figure>
          <div class="project-data">
            <h3>
              <a routerLink="/AdminDashBoard/ShowClass">Class Operation</a>
            </h3>
            <a routerLink="/AdminDashBoard/ShowClass">Class Operation</a>
          </div>
        </div>
      </div>
</div>
</div>
</section>
