

<section class="gap project-style-one addition">
  <div class="container">
    <div class="row project-slider">
      <div class="col-lg-6">
        <div class="project-post reveal1">
          <figure>
            <img src="assets/images/service-nav-img-5H.jpg" alt="project-img-1">
          </figure>
          <div class="project-data">
            <h3>
              <a routerLink="/AdminDashBoard/ShowGym">Gym Operation</a>
            </h3>
            <a routerLink="/AdminDashBoard/ShowGym">Gym Operation</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="project-post reveal1">
          <figure>
            <img src="assets/images/building-2H.png" alt="project-img-1">
          </figure>
          <div class="project-data">
            <h3>
              <a routerLink="/AdminDashBoard/ShowClass">Class Operation</a>
            </h3>
            <a routerLink="/AdminDashBoard/ShowClass">Class Operation</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
