<!-- Banner Style One Start -->
<section class="banner-style-one">
  <div class="parallax" style="background-image: url(assets/images/pattren-3.png);"></div>
  <div class="container">
    <div class="row">
      <div class="banner-details text-center">
        <h2>Subscriptions</h2>
        <p>Our values have vaulted us to the top of our industry.</p>
      </div>
    </div>
  </div>
  <div class="breadcrums">
    <div class="container">
      <div class="row">
        <ul class="breadcrumb-list">
          <li>
            <a href="index.html">
              <i class="fa-solid fa-house"></i> Home
            </a>
          </li>
          <li class="current">Profile</li>
        </ul>
      </div>
    </div>
  </div>
</section>
