
  <div class="product-container">
    <div class="product-image-container">
      <img src="myprogrammingbook.jpg" alt="MyProgrammingBook">
    </div>
    <div class="product-info-container">
      <h1>MyProgrammingBook</h1>
      <p class="price">$0.99</p>
      <p class="product-description">
        Want to make all of your code run at O(1) speed? Then let me introduce MyProgrammingBook! Written by the world's leading expert on algorithmic optimization (me), this book will teach you everything you need to know to make your code lightning fast. Plus, it comes with a free unicorn* to help you implement all the techniques you learn. Don't miss out on this once-in-a-lifetime opportunity!
      </p>
      <p>*Terms and Conditions Apply</p>
      <div id="paypal-button-container"></div>
    </div>
  </div>
