<section class="gap blog-style-one team-detail detail-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">



        <div class="row align-items-end" *ngFor="let item of DetailsArray">
          <div class="col-lg-6">
            <div class="team-data">
              <h3>{{item.name}}</h3>
              <p>{{item.trainer}}</p>
              <ul class="t-contact">
                <!--<li>
                  <span>Location:</span>
                  <p>New York, United State</p>
                </li>-->
                <li>
                  <span>Description :</span>
                  <p>{{item.description}}</p>
                </li>
              </ul>
              <div class="t-tel">
                <div class="data">

                  <div class="t-sec">
                    <p>The Monthly Subscription:</p>
                    <span><b>JOD:</b><a href="">{{item.price}}</a></span>
                  </div>
                  <!--<div class="gym-time"><h4>Timing:</h4><span>  Mon to Sat : 08 pm to 12 am</span></div>-->
                </div>
                <!--<a href="javascript:void(0)" class="theme-btn">Get a Consultation </a>-->
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="image reveal1 it-reveal-animation">
              <figure>
                <img src="{{item.image}}" alt="Gym Detail Image One">
              </figure>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</section>
