<section class="banner-style-one">
  <div class="parallax" style="background-image: url(assets/images/pattren-3.png);"></div>
  <div class="container">
    <div class="row">
      <div class="banner-details">
        <h2>Cart</h2>
        <p>Our values have vaulted us to the top of our industry.</p>
      </div>
    </div>
  </div>
  <div class="breadcrums">
    <div class="container">
      <div class="row">
        <ul>
          <li>
            <a href="index.html">
              <i class="fa-solid fa-house"></i>
              <p>Home</p>
            </a>
          </li>
          <li class="current">
            <p>Cart</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="gap cart">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="cart-box">
          <ul class="cart-table head">
            <li>
              <div class="c-c">
                <div class="c-data">
                  <span>Products</span>
                </div>
                <div class="c-price">
                  <span>Price</span>
                </div>
                <div class="c-quality">
                  <span>Quantity</span>
                </div>
                <div class="c-total">
                  <span>Total</span>
                </div>
              </div>
            </li>
          </ul>
          <ul class="cart-table">
            <li *ngFor="let item of Array">
              <div class="c-c">
                <div class="c-data">
                  <a class="cr-svg d-flex-all" href="javascript:void(0)" (click)="userId === 0 ? deleteProduct(item.productId) : deleteItem(item.cartItemId)">
                    <img src="assets/images/cross.svg" alt="Delete Item">
                  </a>


                  <img src="{{item.image}}" alt="Product One">
                  <h2><a href="javascript:void(0)">{{item.productName}}</a></h2>
                </div>
                <div class="c-price">
                  <span class="orgnl">{{item.price}} JOD</span>
                </div>
                <div class="c-quality">
                  <button class="quantity-button" (click)="userId === 0 ? decrementByProductId(item.productId) : decrement(item.cartItemId)">-</button>
                  <input type="number" [(ngModel)]="item.quantity" min="1" />
                  <button class="quantity-button" (click)="userId === 0 ? incrementByProductId(item.productId) : increment(item.cartItemId)">+</button>
                </div>

                <div class="c-total">
                  <span>Total Price: {{ calculateTotalPrice(item.price, item.quantity) }} JOD</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br /><br />
    <div class="row cart-total" id="carty">
      <div class="col-lg-6">
        <div class="cart-total-box">
          <div class="final">
            <h4>Cart Total</h4>
            <ul>
              <li>
                <span>Subtotal:</span>
                <span>{{ calculateSubtotal() }} JOD</span> <!-- Displaying dynamic subtotal -->
              </li>
              <li>
                <span>Shipping:</span>
                <span>{{ calculateSubtotal() > 100 ? 0 : shippingCost }} JOD</span> <!-- Displaying dynamic shipping cost -->
              </li>
            </ul>
            <p *ngIf="calculateSubtotal() > 100" style="color: green; font-weight: bold;">
              Congratulations! Your shipping is free because your order exceeds 100 JOD!
            </p>
            <p *ngIf="calculateSubtotal() <= 100" style="color: red;">
              Spend more than 100 JOD to qualify for free shipping!
            </p>
          </div>
          <div class="total">
            <ul>
              <li>
                <span>Total:</span>
                <span>{{ calculateTotal() }} JOD</span> <!-- Displaying total price -->
              </li>
            </ul>
          </div>
          <div class="text-center" style="margin-top: 20px;">
            <a [routerLink]="['/paypal']" [queryParams]="{total: calculateTotal()}" class="theme-btn">Process to Payment</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
