<!-- Banner Style One Start -->
<section class="banner-style-one">
  <div class="parallax" style="background-image: url(assets/images/pattren-3.png);"></div>
  <div class="container">
    <div class="row">
      <div class="banner-details">
        <h2>class details</h2>
        <p>our values and vaulted us to the top of our industry.</p>
      </div>
    </div>
  </div>
  <div class="breadcrums">
    <div class="container">
      <div class="row">
        <ul>
          <li>
            <a href="index.html">
              <i class="fa-solid fa-house"></i>
              <p>Classes</p>
            </a>
          </li>
          <li class="current">
            <p>class details</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Banner Style One End -->

<section class="gap detail-page">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 ">
        <div class="pr-dat">
          <div class="heading-style-2">
            <div class="container p-0">
              <div class="row">
                <div class="col-lg-12">
                  <div class="data">
                    <span>Class Overview</span>
                    <h2>
                      {{Class.name}}
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p>Retreats and bootcamps are perfect for Fitness Holidays. Our Ultimate Fitness holidays are open to all people looking to meet new people, discover beautiful tropical locations, and kick start or improve personal fitness journey. Let nothing hold you back from getting fitter with the full support of our personal trainers, while meet other like-minded people, and explore the dreamy locations with new friends.</p>
          <p>Ready to hit the next level and achieve results you never thought possible. Join us at Ultimate Fitness Holiday for a fitness camp abroad in a stunning location. <span>With our expert trainers, supportive community, and beautiful locations</span> So why wait? Take the first step towards a healthier, fitter you and join us at Ultimate Fitness Holiday for a fitness camp today!</p>
          <h3>What's Included in Project</h3>
          <ul class="include">
            <li><i class="fa-solid fa-check"></i> Ability for Sellers to offer additional discounts</li>
            <li><i class="fa-solid fa-check"></i> Weight machines, pumping music</li>
            <li><i class="fa-solid fa-check"></i> Programs for weight loss</li>
            <li><i class="fa-solid fa-check"></i> State of the Art Equipment</li>
            <li><i class="fa-solid fa-check"></i> Meet Experts Fitness Trainers</li>
          </ul>
          <div class="row space">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="project-d-detail">
                <div class="data">
                  <h3>Equipment</h3>
                  <p>73+ Gym Equipment</p>
                </div>
                <div class="d-flex-all icon">
                  <i class="flaticon-gym-equipment"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="project-d-detail">
                <div class="data">
                  <h3>Gym Owner</h3>
                  <p>Thomas Walkar</p>
                </div>
                <div class="d-flex-all icon">
                  <i class="flaticon-women"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="project-d-detail">
                <div class="data">
                  <h3>Square Feet</h3>
                  <p>22,000 square feet Gym</p>
                </div>
                <div class="d-flex-all icon">
                  <i class="flaticon-muscle-1"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="project-d-detail">
                <div class="data">
                  <h3>Class Timing</h3>
                  <p>Mon to Sat : 8am to 12 Pm </p>
                </div>
                <div class="d-flex-all icon">
                  <i class="flaticon-work-from-home"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="gap no-top team-style-one">
  <div class="container">
    <div class="heading">
      <h2>Class INSTRUCTOR </h2>
    </div>
    <div class="row g-3">
      <div class="col-lg-3">
        <div class="team-data item">
          <div class="team-info">
            <h3>{{Class.trainer}}</h3>
            <p>CROSSFIT COACH</p>
            <div class="team-social-media">
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#"><i class="flaticon-twitter"></i></a>
              <a href="#"><i class="flaticon-instagram"></i></a>
            </div>
            <svg width="261" height="235" viewBox="0 0 261 235" xmlns="http://www.w3.org/2000/svg">
              <path d="M261 0L190.483 144.088H128.135L162.104 102.062L188.333 45.885H89.8666L70.0873 87.4818H117.815L0 235L49.0181 125.219H0L61.9176 0H261Z"></path>
            </svg>
          </div>
          <div class="team-image">
            <figure>
              <img src="assets/images/team-1.png" alt="team-3">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
