<!-- Loader Start -->
<div class="color-group">
  <div class="icon-color">
    <i class="fa-solid fa-gear"></i>
  </div>
  <ul class="color-grid">
    <li class="color-option is-selected" data-color="#ea2127"></li>
    <li class="color-option" data-color="#c8a01c"></li>
    <li class="color-option" data-color="#aad804"></li>
    <li class="color-option" data-color="#f16e24"></li>
    <li class="color-option" data-color="#b8653b"></li>
    <li class="color-option" data-color="#1e51b8"></li>
    <li class="color-option" data-color="#d61c50"></li>
    <li class="color-option" data-color="#7ba12b"></li>
  </ul>
</div>
<div class="preloader">
  <div class="loader-wrap-heading">
    <div class="load-text"> <span>L</span> <span>o</span> <span>a</span> <span>d</span> <span>i</span> <span>n</span> <span>g</span> </div>
  </div>
</div>
<!-- Loader End -->
<!-- Header Style One Start -->

<header class="header-style-one">
  <div class="container">
    <div class="row">
      <div class="desktop-nav" id="stickyHeader">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="d-flex-all justify-content-between">
                <div class="header-logo">
                  <a href="index.html">
                    <figure>
                      <img src="assets/images/logo.png" alt="logoo">
                    </figure>
                  </a>
                </div>
                <div class="nav-bar">
                  <ul>
                    <li>
                      <a routerLink="">Home</a>

                    </li>

                    <li>
                      <a routerLink="/About">About</a>
                    <!--<li class="menu-item-has-children">
    <a href="javascript:void(0)">About</a>
    <ul class="sub-menu">
      <li><a href="about.html">About</a></li>
      <li><a href="features-and-benefits.html">features & benefits</a></li>
    </ul>
  </li>-->
                    <li>
                      <a routerLink="/About">About</a>

                    </li>

                    <li>
                      <a routerLink="/Products">Shop</a>

                    </li>
                    <li>
                      <a routerLink="/Gyms">Gyms</a>
                    </li>
                    <li>
                      <a routerLink="/Contact">Contact</a>
                    </li>
                    <!--<li class="menu-item-has-children">
    <a href="JavaScript:void(0)">Gyms</a>
    <ul class="sub-menu">
      <li class="menu-item-has-children">
        <a href="javascript:void(0)">Services</a>
        <ul class="sub-menu">
          <li><a href="services.html">services</a></li>
          <li><a href="service-detail.html">Service Detail</a></li>
        </ul>
      </li>
      <li class="menu-item-has-children">
        <a href="javascript:void(0)">Classes</a>
        <ul class="sub-menu">
          <li><a href="our-classes.html">our classes</a></li>
          <li><a href="our-classes-2.html">our classes 2</a></li>
          <li><a href="class-details.html">class details</a></li>
          <li><a href="classes-schedule.html">classes schedule</a></li>
        </ul>
      </li>
      <li class="menu-item-has-children">
        <a href="javascript:void(0)">Team</a>
        <ul class="sub-menu">
          <li><a href="our-team.html">Our Team</a></li>
          <li><a href="team-detail.html">Team Detail</a></li>
        </ul>
      </li>
      <li><a href="login.html">Login</a></li>
    </ul>
  </li>-->

                    <li class="menu-item-has-children">
                      <a href="javascript:void(0)">Nutrition</a>
                      <ul class="sub-menu">

                        <li><a routerLink="/Tips">Tips</a></li>
                        <li><a routerLink="/Meals">Meals Recipies</a></li>
                        <li><a routerLink="/bmi">BMI Calculator</a></li>

                      </ul>
                    </li>
                    <li>
                      <a routerLink="/Profile">Profile</a>
                    </li>
                    <li>
                      <a routerLink="/Login">Login & Register</a>
                    </li>
                    <li>
                      <a routerLink="/Cart" class="cart-icon">
                        <i class="fa-solid fa-cart-shopping"></i>
                      </a>
                    </li>
                  </ul>

                  <!-- Updated Extras Section -->
                  <div class="extras">
                    <a href="javascript:void(0)" id="mobile-menu" class="menu-start">
                      <svg id="ham-menu" viewBox="0 0 100 100">
                        <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                        <path class="line line2" d="M 20,50 H 80" />
                        <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                      </svg>
                    </a>
                    <a href="javascript:void(0)" id="desktop-menu" class="menu-start">
                      <svg id="ham-menue" viewBox="0 0 100 100">
                        <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                        <path class="line line2" d="M 20,50 H 80" />
                        <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                      </svg>
                    </a>
                    <!--<a href="#" class="theme-btn">
                      Appointment
                    </a>-->

                    <!-- Cart Icon -->

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile-nav" id="mobile-nav">
        <div class="res-log">
          <a href="index.html">
            <img src="assets/images/logo-2.svg" alt="Responsive Logo">
          </a>
        </div>
        <ul>
          <li>
            <a routerLink="">Home</a>

          </li>
         
          <li>
            <a routerLink="/Products">Shop</a>

          </li>
          <li class="menu-item-has-children">
            <a href="JavaScript:void(0)">Pages</a>
            <ul class="sub-menu">
              <li class="menu-item-has-children">
                <a href="javascript:void(0)">Services</a>
                <ul class="sub-menu">
                  <li><a href="services.html">services</a></li>
                  <li><a href="service-detail.html">Service Detail</a></li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="javascript:void(0)">classes</a>
                <ul class="sub-menu">
                  <li><a href="our-classes.html">our classes</a></li>
                  <li><a href="our-classes-2.html">our classes 2</a></li>
                  <li><a href="class-details.html">class details</a></li>
                  <li><a href="classes-schedule.html">classes schedule</a></li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="javascript:void(0)">Team</a>
                <ul class="sub-menu">
                  <li><a href="our-team.html">Our Team</a></li>
                  <li><a href="team-detail.html">Team Detail</a></li>
                </ul>
              </li>
              <li><a routerLink="/Login">Login & Register</a></li>
            </ul>
          </li>
          <li class="menu-item-has-children">
            <a href="javascript:void(0)">Nutrition</a>
            <ul class="sub-menu">
              <li><a routerLink="/Tips">Tips</a></li>
              <li><a routerLink="/Meals">Meals Recipies</a></li>
              <li><a routerLink="/bmi">BMI Calculator</a></li>

            </ul>
          </li>
          <li>
            <a href="contact.html">Contact</a>
          </li>
          <li>
            <a routerLink="/Profile">Profile</a>
          </li>
          <li>
            <a routerLink="/Login">Login & Register</a>
          </li>
          <li>
            <a routerLink="/Cart" class="cart-icon">
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
          </li>
        </ul>
        <a href="JavaScript:void(0)" id="res-cross"></a>
      </div>
      <div class="mobile-nav desktop-menu">
        <h2>Solutions for moving better and feeling a healthier choice</h2>
        <p class="des">We successfully cope with tasks of varying complexity, provide long-term guarantees and regularly master new technologies.</p>
        <figure>
          <img src="assets/images/desktop-menu-img.jpg" alt="Desktop Menu Image">
        </figure>
        <h3>Free Consulting</h3>
        <p class="num"><a href="callto:(+380)503184707">(+380) 50 318 47 07</a></p>
        <p class="adrs">Timing: Mon to Sat : 08 pm to 12 am</p>
        <ul class="social-media">
          <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="flaticon-twitter"></i></a></li>
          <li><a href="#"><i class="flaticon-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

